@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


@font-face {
    font-family: 'DrukCyr';
    src: url('../fonts/DrukCyr-Bold.woff') format('woff'),
        url('../fonts/DrukCyr-Bold.woff2') format('woff2'),
        url('../fonts/DrukCyr-Medium.woff2') format('woff2'),
        url('../fonts/DrukCyr-Medium.woff') format('woff'),
        url('../fonts/DrukCyr-Super.woff') format('woff'),
        url('../fonts/DrukCyr-Super.woff2') format('woff2')
}




body {
    display: flex;
    flex-direction: column;
    background: #060507;
    color: #fff;

    font-family: DrukCyr, sans-serif;
    box-sizing: border-box;
    overflow: hidden;

    padding: 0;
    margin: 0;
    height: 100vh;
    max-width: 100%;
    transition: .4s all ease-in;
}


/******HEADER*******/

header {

    display: flex;
    position: relative;

    .navbar {

        display: flex;
        width: 100%;
        padding-top: 9px;


        .nav__brand {
            display: flex;
            padding-left: 35px;

            @media screen and (max-width: 661px) {
                margin: 0 auto;
            }

            &__img {
                width: 285px;
                height: 45px;

                @media screen and (max-width: 769px) {
                    display: none;
                }

                @media screen and (max-width: 661px) {
                    display: block;
                    text-align: center;
                }
            }

            &__icon {
                width: 50px;
                height: 50px;
                display: none;

                @media screen and (max-width: 769px) {
                    display: block;
                }

                @media screen and (max-width: 661px) {
                    display: none;
                }
            }
        }

        .nav-list {

            display: flex;

            @media screen and (max-width: 760px) {
                width: 100%;
            }

            @media screen and (max-width: 661px) {
                display: none;
            }

            .nav-item {

                list-style: none;
                text-transform: uppercase;
                padding-left: 4em;
                cursor: pointer;
                font-size: 20px;
                letter-spacing: 2px;

                &:hover {
                    color: #A75B12;
                }
            }
        }


    }

    .corner {

        width: 355px;
        height: 192px;
        position: absolute;
        right: 0;

        @media screen and (max-width: 860px) {
            display: none;
        }
    }

}

.main__contains {

    .center {

        @media screen and (max-width: 760px) {
            display: flex;
            flex-direction: column;
        }

        display: flex;

        &__left {

            position: relative;

            .img {

                display: flex;

                img {
                    &:nth-child(1) {
                        width: 52em;
                        height: 505px;

                        @media screen and (max-width: 760px) {
                            width: 100%;
                            height: auto;
                        }
                    }

                    &:nth-child(3) {

                        position: relative;
                        z-index: 1;
                        width: 11em;
                        height: 25em;
                        right: 25px;
                        top: 30px;

                        @media screen and (max-width: 760px) {
                            display: none;
                        }

                    }
                }



                .circle {

                    position: relative;
                    width: 110px;
                    height: 110px;
                    right: 7em;
                    top: 4em;
                    animation: circle infinite linear 11s;

                    @keyframes circle {

                        to {
                            transform: rotate(0);
                        }

                        from {
                            transform: rotate(360deg);
                        }

                    }

                    @media screen and (max-width: 760px) {
                        display: none;
                    }

                    @media screen and (max-width: 484px) {
                        display: block;
                        width: 60px;
                        height: 60px;
                        top: 2em;
                    }
                }
            }

            .vector {
                position: absolute;
                left: 0px;
                bottom: 100px;
                width: 87em;
                height: 6em;
                z-index: 2;

                @media screen and (max-width: 760px) {
                    width: 100%;
                    bottom: 10em;
                }

                @media screen and (max-width: 484px) {
                    height: 4em;
                    bottom: 12em;
                }

            }


            .desc {

                display: flex;
                position: relative;
                align-items: center;
                top: 26px;

                @media screen and (max-width: 760px) {

                    display: flex;
                    flex-direction: row-reverse;
                }

                .progressBar__container {
                    display: flex;
                    align-items: baseline;
                    padding-left: 15px;

                    @media screen and (max-width: 760px) {
                        display: none;
                    }

                    .progressBar {

                        width: 250px;
                        background-color: #fff;
                        height: 5px;
                        margin: 0 25px;


                        .progress {
                            width: 155px;
                            padding: 2.5px;
                            background: #A75B12;
                            z-index: 1;
                        }

                    }
                }

                .text__container {

                    width: 440px;
                    font-size: 12px;
                    padding-left: 3em;
                    font-family: 'Montserrat', sans-serif;
                }

                img {

                    position: absolute;
                    top: -5em;
                    right: -2.5px;
                    width: 250px;
                    height: 190px;

                    @media screen and (max-width: 760px) {
                        position: relative;
                        top: 0px;
                    }

                }

            }
        }

        &__right {

            position: relative;
            top: 10.5em;
            height: 100%;
            background: #060507;
            z-index: 2;

            @media screen and (max-width: 760px) {
                top: 5em;
            }


            .container {

                width: 250px;

                @media screen and (max-width: 760px) {
                    display: flex;
                    width: 100%;
                    justify-content: space-evenly;
                }

                @media screen and (max-width: 780px) {
                    display: grid;
                    grid-template-columns: repeat(2, 3fr);
                    gap: 3;
                    text-align: center;
                }


                @for $i from 0 through 4 {

                    .right-component-#{$i} {

                        display: flex;
                        padding: 3px 3px 20px 3px;


                        @media screen and (max-width: 780px) {
                            flex-direction: column;
                        }


                        .vertical {

                            font-size: 15px;
                            writing-mode: vertical-rl;
                            text-orientation: sideways;
                            transform: rotate(180deg);
                            line-height: 3.5;
                            font-family: 'Montserrat', sans-serif;
                            color: #3f3e44;
                            text-transform: uppercase;

                            @media screen and (max-width: 760px) {
                                text-align: center;
                            }

                            @media screen and (max-width: 484px) {
                                writing-mode: horizontal-tb;
                                text-orientation: sideways;
                                transform: none;
                                font-size: 20px;
                            }
                        }

                        .contain {
                            display: flex;
                            flex-direction: column;
                            line-height: 1.5;
                            padding-top: 5px;

                            @media screen and (max-width: 780px) {
                                justify-content: space-evenly;
                            }

                            @media screen and (max-width: 780px) {}


                            span {

                                &:nth-child(1),
                                &:nth-child(3) {
                                    font-size: 9px;
                                    font-family: 'Montserrat', sans-serif;

                                    @media screen and (max-width: 780px) {
                                        font-size: 15px;
                                    }

                                }

                                &:nth-child(2) {
                                    font-weight: bold;
                                    font-size: 32px;
                                    text-transform: uppercase;
                                    letter-spacing: 2px;
                                }
                            }
                        }
                    }

                }
            }
        }

    }

}